/* arkusz stylów CSS do prezentacji tabelek */

table {
	width:	550px;
}

table, th, td {
	border:				1px solid black;
	border-collapse:	collapse;
}

th, td {
	padding:		5px;
	text-align:		left;
}

tr#zwierze1 {
	background-color:	darkgreen;
	color:				white;
}

tr#zwierze2 {
	background-color:	lightgreen;
}

tr#zwierze2:hover {
	background-color:	green;
	color:				white;
}

tr#zwierze3 {
	background-color:	lightblue;
}

tr#ksiega1 {
	background-color:	darkred;
	color:				white;
}

tr#ksiega2 {
	background-color:	tomato;
}

tr#ksiega2:hover {
	background-color:	red;
	color:				white;
}
